{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
        theme: {
        extend: {
            colors: {
            fwhite: '#F8F8F8',
            fblack: '#1E1E1E',
            rose: '#FF0285',
            pink: '#FF68D9',
            magenta: '#A812FF',
            purple: '#560088',
            }
        }
        }
    }
    </script>
    <title>Esqueci Minha Senha - Feriadou</title>
</head>
<body class="bg-rose flex items-center justify-center min-h-screen p-4 ">

    <div class="bg-fwhite rounded-3xl shadow-xl overflow-hidden flex flex-col md:flex-row w-full max-w-4xl lg:max-w-5xl 2xl:max-w-6xl min-h-[480px] 2xl:min-h-[650px]">
        
        <div class="hidden md:flex md:w-1/2 bg-gradient-to-br from-rose to-pink-600 
            p-12 flex-col justify-between relative ">

        <div class="absolute -top-40 -left-40 w-72 h-72 bg-white/50 rounded-full blur-3xl">

           
        </div>


        </div>

        <div class="w-full md:w-1/2 p-8 2xl:p-12 flex flex-col justify-center relative">
            
            <div class="max-w-md mx-auto w-full">
                
                <img class=" mx-auto mb-10" src="{% static 'img/feriadou_logo.svg' %}" 
                    alt="Feriadou Logo">
                </a>

                <h2 class="text-3xl 2xl:text-4xl font-bold text-fblack mb-2">Esqueci Minha Senha</h2>

                <!--<p class="text-npurple text-xs 2xl:text-sm mb-6 2xl:mb-8 leading-relaxed">
                    Feriados do escopo municipal ao nacional. Inscreva-se para fazer uma solicitação!
                </p>-->

                <p class="text-fblack text-xs 2xl:text-sm mt-4 mb-6">
                    Voltar para <a href="{% url 'login_view' %}"><span class="text-rose font-medium hover:underline">Login<span></a>
                </p>

                <form method="POST" action="{% url 'passwordreset_view' %}">
                    {% csrf_token %}
                    

                    {% if form.non_field_errors %}
                        <div class="mb-4 mt-4 p-2 bg-red-100 text-red-600 rounded text-xs text-center">
                            E-mail ou senha inválidos.
                        </div>
                    {% endif %}
                    
                    <div class="mb-4 2xl:mb-5">
                        <label class="block text-nblack text-sm font-semibold mb-1 2xl:mb-2" for="email">
                            E-mail
                        </label>
                        <input class="w-full px-4 py-2.5 2xl:py-3 rounded-lg border border-gray-300 focus:border-rose focus:ring-2 focus:ring-rose/20 outline-none transition-all text-fblack placeholder-gray-400 text-sm 2xl:text-base"
                               type="email" 
                               name="email" 
                               id="email"
                               placeholder="exemplo@email.com" 
                               autocomplete="email"
                               required>
                    </div>

                    <button type="submit" class="w-full mt-2 bg-rose hover:bg-[#FF71AA] text-white font-bold py-2.5 2xl:py-3 rounded-lg shadow-md hover:shadow-lg transition-all transform hover:-translate-y-0.5 text-sm 2xl:text-base">
                        Enviar link
                    </button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>