{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
        theme: {
        extend: {
            colors: {
            fwhite: '#F8F8F8',
            fblack: '#1E1E1E',
            rose: '#FF0285',
            pink: '#FF68D9',
            magenta: '#A812FF',
            purple: '#560088',
            }
        }
        }
    }
    </script>
    <title>Senha Alterada - Feriadou</title>
</head>
<body class="bg-rose flex items-center justify-center min-h-screen p-4 ">

    <div class="bg-fwhite rounded-3xl shadow-xl overflow-hidden flex flex-col md:flex-row w-full max-w-4xl lg:max-w-5xl 2xl:max-w-6xl min-h-[480px] 2xl:min-h-[650px]">
        
        <div class="hidden md:flex md:w-1/2 bg-gradient-to-br from-rose to-pink-600 
            p-12 flex-col justify-between relative ">

        <div class="absolute -top-40 -left-40 w-72 h-72 bg-white/50 rounded-full blur-3xl">

           
        </div>


        </div>

        <div class="w-full md:w-1/2 p-8 2xl:p-12 flex flex-col justify-center relative">
            
            <div class="max-w-md mx-auto w-full">
                
                <img class=" mx-auto mb-10" src="{% static 'img/feriadou_logo.svg' %}" 
                    alt="Feriadou Logo">
                </a>

                <h2 class="text-3xl 2xl:text-4xl font-bold text-fblack mb-2">Senha Alterada</h2>

                <p class="text-fblack font-medium 2xl:text-lg my-8 2xl:mb-8 leading-relaxed">
                    Senha alterada com sucesso.
                </p>

                    <a href="{% url 'login_view' %}">
                    <button class="w-full mt-2 bg-rose hover:bg-[#FF71AA] text-white font-bold py-2.5 2xl:py-3 rounded-lg shadow-md hover:shadow-lg transition-all transform hover:-translate-y-0.5 text-sm 2xl:text-base">
                        Voltar para Login
                    </button>
                    </a>
                </form>
            </div>
        </div>
    </div>

</body>
</html>